*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Sora', sans-serif;
}




/* margin */
.m-t-0{
  margin-top:0px;
}
.m-t-5{
  margin-top:5px;
}
.m-t-10{
  margin-top:10px;
}
.m-t-20{
  margin-top:20px;
}
.m-t-30{
  margin-top:30px;
}
.m-t-50{
  margin-top:50px;
}
.m-t-100{
  margin-top:100px;
}

.m-b-0{
  margin-bottom:0px;
}
.m-b-5{
  margin-bottom:5px;
}
.m-b-10{
  margin-bottom:10px;
}
.m-b-20{
  margin-bottom:20px;
}
.m-b-30{
  margin-bottom:30px;
}
.m-b-50{
  margin-bottom:50px;
}
.m-b-100{
  margin-bottom:100px;
}

.m-l-0{
  margin-left:0px;
}
.m-l-5{
  margin-left:5px;
}
.m-l-10{
  margin-left:10px;
}
.m-l-20{
  margin-left:20px;
}
.m-l-30{
  margin-left:30px;
}
.m-l-50{
  margin-left:50px;
}
.m-l-100{
  margin-left:100px;
}

.m-r-0{
  margin-right:0px;
}

.m-r-5{
  margin-right:5px;
}

.m-r-10{
  margin-right:10px;
}
.m-r-20{
  margin-right:20px;
}
.m-r-30{
  margin-right:30px;
}
.m-r-50{
  margin-right:50px;
}
.m-r-100{
  margin-right:100px;
}

.m-tb-0{
  margin-top: 0;
  margin-bottom:0;
}
.m-tb-5{
  margin-top: 5px;
  margin-bottom: 5px;
}
.m-tb-10{
  margin-top:  10px;
  margin-bottom: 10px;
}
.m-tb-20{
  margin-top:  20px;
  margin-bottom: 20px;
}
.m-tb-30{
  margin-top:  30px;
  margin-bottom: 30px;
}
.m-tb-50{
  margin-top:  50px;
  margin-bottom: 50px;
}
.m-tb-100{
  margin-top:  100px;
  margin-bottom:100px;
}

.m-lr-0{
  margin-left: 0;
  margin-right: 0;
}
.m-lr-10{
  margin-left:10px;
  margin-right:10px;
}
.m-lr-20{
  margin-left:20px;
  margin-right:20px;
}
.m-lr-30{
  margin-left:30px;
  margin-right:30px;
}
.m-lr-50{
  margin-left:50px;
  margin-right:50px;
}
.m-lr-100{
  margin-left:100px;
  margin-right:100px;
}

/* padding */


.p-t-0{
  padding-top:0px;
}
.p-t-10{
  padding-top:10px;
}
.p-t-20{
  padding-top:20px;
}
.p-t-30{
  padding-top:30px;
}
.p-t-50{
  padding-top:50px;
}
.p-t-100{
  padding-top:100px;
}

.p-b-0{
  padding-bottom:0px;
}
.p-b-10{
  padding-bottom:10px;
}
.p-b-20{
  padding-bottom:20px;
}
.p-b-30{
  padding-bottom:30px;
}
.p-b-50{
  padding-bottom:50px;
}
.p-b-100{
  padding-bottom:100px;
}

.p-l-0{
  padding-left:0px;
}
.p-l-5{
  padding-left:5px;
}
.p-l-10{
  padding-left:10px;
}
.p-l-20{
  padding-left:20px;
}
.p-l-30{
  padding-left:30px;
}
.p-l-50{
  padding-left:50px;
}
.p-l-100{
  padding-left:100px;
}

.p-r-0{
  padding-right:0px;
}

.p-r-5{
  padding-right:5px;
}

.p-r-10{
  padding-right:10px;
}
.p-r-20{
  padding-right:20px;
}
.p-r-30{
  padding-right:30px;
}
.p-r-50{
  padding-right:50px;
}
.p-r-100{
  padding-right:100px;
}

.p-tb-0{
  padding-top: 0;
  padding-bottom:
}
.p-tb-2{
  padding-top: 2px;
  padding-bottom: 2px;
}
.p-tb-5{
  padding-top: 5px;
  padding-bottom: 5px;
}
.p-tb-10{
  padding-top:  10px;
  padding-bottom: 10px;
}
.p-tb-20{
  padding-top:  20px;
  padding-bottom: 20px;
}
.p-tb-30{
  padding-top:  30px;
  padding-bottom: 30px;
}
.p-tb-50{
  padding-top:  50px;
  padding-bottom: 50px;
}
.p-tb-100{
  padding-top:  100px;
  padding-bottom:100px;
}

.p-lr-5{
  padding-left: 5px;
  padding-right: 5px;
}

.p-lr-10{
  padding-left: 10px;
  padding-right: 10px;
}
.p-lr-20{
  padding-left: 20px;
  padding-right: 20px;
}
.p-lr-30{
  padding-left: 30px;
  padding-right: 30px;
}
.p-lr-50{
  padding-left: 50px;
  padding-right: 50px;
}
.p-lr-100{
  padding-left:100px;
  padding-right:100px;
}

/* text */

.text-c{
  text-align: center;
}
.text-l{
  text-align: left;
}
.text-r{
  text-align: right;
}

/* vertical align */
.va{
  vertical-align: middle;
}

/* colori */

.white{
  color:#FFFFFF;
}
.grey{
  color:#656565;
}
.green{
  color:#1bd760;
}
/* structure */

.navbar-left{
  height: calc(100vh - 100px);
  width: 200px;
  background-color: black;
}

.fixed-l{
  position: fixed;
  left: 0;
  z-index: 998;
}

.fixed-b{
  position: fixed;
  bottom: 0;
  z-index: 999;
}

.navbar-bottom .player-bar{
width: 100vw;
min-width: 600px;
height: 100px;
background-color: #282828;
display: flex;
flex-direction: row;
justify-content: space-between;
}




.hero{
   background-color: #141922;
   width: calc(100vw - 200px);
   position: absolute;
   right: 0;
   z-index:997;
}

.upgrade{
  background-color: #080b12;
  width: calc(100vw - 200px);
  height: 80px;
  position:fixed;
  top:0;
  right:0;
}

.icon{
  width: 20px;
  height: 20px;
}

/* element navbar left  */
.nav-left-list ul li {
  line-height: 25px
}
.nav-left-list ul li a {
  text-decoration:none;
}
.text-select{
  color:white;
}

.text-select:hover{
  color:#656565;
}

.text-noselect{
  color:#656565;
}

.text-noselect:hover{
  color:white;
}

.menu > li > a > span{
  font-size: 12px

}
.selection{
  border-left:  2px solid #1bd760;
  color:white
}

.noselection{
  border-left:  2px solid black;
  color:#656565;
}

.selection:hover{
  border-left:  2px solid black;
  color:#656565;
}

.noselection:hover{
  border-left:  2px solid #1bd760;
  color:white
}

.playlist ul li{
  line-height: 25px;
}

.playlist ul li:first-child{
  line-height: 35px;
}

.playlist ul li a{
  text-decoration: none;
  font-size: 12px;
}

.playlist ul li a:hover{
  color:white;
}
.cerchio{
  height: 25px;
  width: 25px;
  background-color:#656565;
  border-radius: 50%;
  text-align: center;
  display: inline-block;
}


.user a {
  text-decoration: none;
  font-size: 12px;

}

.user a:hover {
  color: white;
}
.user > span {
  font-size: 15px;
  font-weight: 700;
}

.playlist{
  height: 100%;
}
 .over{
   height:50%;
   overflow-y:auto;
}

.navbar-left .row{
  height: calc(100% - 90px ) ;
  min-height: 410px;
  overflow:hidden;
}

.login{
  height:90px;
  background-color:black;
}

/* hero */
.upgrade .container::after{
  content:"";
  display:table;
  clear: both;
}
.upgrade button{
  border: 2px solid white;
  background-color: transparent;
  border-radius: 20px;
  color: white;
  padding: 10px 20px;
  margin: 20px;
  font-weight: bolder;
  float: right;
}

.upgrade button:hover{
  border: 0px;
  background-color: #1bd760 ;
  color: #080b12;
}

.music-menu ul{
  list-style: none;
  text-align: center;
}

.music-menu ul li{
  display: inline-block;
  text-align: center;
}

.music-menu ul li a{
  text-decoration: none;
  font-size: 12px;
  font-weight: 500;
  padding: 0 20px;
  float: left;


}


.dot{
  background-color:#1bd760;
  height: 2px;
  width: 2em;
  margin: auto;
}
.cont-flex{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.brano{
 width: calc(100% / 6);
 padding-left: 5px;
 padding-right: 5px;

}

.brano > p {
  font-size: 10px;
}

.brano:first-child{
  padding-left: 0;
}
.brano:last-child{
  padding-right: 0;
}
.square{
  width: 100%;
  position: relative;
}

.square > img{
  display: block;
  width: 100%;
  height: auto;
}



.overimg {
  display: block;
  width: 100%;
  height: auto;
}

.overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(0,0,0,0.8);
  background-color: pink;
}

.square > img{
  width: 100%;
  display:block;
}

.circle{
  width: 150px;
  height: 150px;
  background-color: pink;
  border-radius: 50%;
}

.circle > img{
  width: 100%;
  display:block;
}

.youg{
  background-image: url( ../img/youg.jpeg );
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.einaudi{
  background-image: url( ../img/einaudi.jpeg );
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}


/* musicbar */

/* FOOTER */

.cont-left {

  display: flex;
  flex-direction: row;
  align-items: center;
}

.cont-left img {
  height: 50px;
}

.cont-left-span p {
  font-size: 14px;
}

.cont-left-span span {
  font-size: 12px;
}

.cont-left-icons a:hover {
  color: white;
}

.cont-center {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}
.top-cont-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.top-cont-center i {
  margin-left: 5%;
}

.bottom-cont-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.bottom-cont-center span {
  font-size: 10px;
}

 .short {
  display: inline-block;
  height: 2px;
  width: 30%;
  background-color: white;
}

.short:hover {
  background-color: green;
}

.controller{
  display: inline-block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: white;
}

.long {
  display: inline-block;
  height: 2px;
  width: 30%;
  background-color: #A3A3A3;

}

.cont-right {
  display: flex;
  flex-direction: row;
  align-items: center;
}


.cont-right > .short {
  height: 2px;
  width: 30px;
  background-color: white;
}

.cont-right >.short:hover {
  background-color: green;
}

.cont-right > .long {
  height: 2px;
  width: 60px;
}



/* media quesri  */
